 <div class="item ff-inter">
    <div class="nome">{{item.nome}}</div>
    <div class="tempo">{{item.tempo}}</div>
    <div class="botoes">
      <button class="botao-editar" routerLink="/item/editarItem/{{ item.id }}">
        <img src="../../../../assets/icone-editar.png" alt="Icone editar">
      </button>
      <button class="botao-excluir" routerLink="/item/excluirItem/{{ item.id }}">
        <img src="../../../../assets/icone-excluir.png" alt="Icone excluir">
      </button>
    </div>
 </div>
