.mural {
  display: inline;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;

}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.botoes button {
  margin-left: 10px;
  margin-right: 2px;
}

@media screen and (min-width: 216px) {
  .buscar-tarefas {
    width: 250px;
  }
}

@media screen and (min-width: 396px) {
  .buscar-tarefas {
    width: 380px;
  }
}

@media screen and (min-width: 576px) {
  .buscar-tarefas {
    width: 510px;
  }
}
