<section class="container d-flex">
  <header class="header" *ngIf="tarefa">
    <div class="titulo ff-inter">
      <h3>Título: {{tarefa.titulo}}</h3>
    </div>
    <div class="acao">
      <button class="botao" routerLink="criarItem" routerLinkActive="router-link-active" > Adicionar subtarefa</button>
      <button class="botao" (click)="voltar()">Voltar</button>
    </div>
  </header>

  <div class="titulo ff-inter">
    <h3>Subtarefas Cadastradas</h3>
  </div>

  <div class="itens ff-inter">
    <div *ngFor="let item of listaDeItens">
      <app-item
      [item]="item">
      </app-item>
    </div>
  </div>
</section>







