.header {
  display: inline;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

h3 {
  color: black;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}
