<section class="container criar-tarefas ff-inter">
  <header class="header">
    <h2>Adicione uma tarefa:</h2>
    <form [formGroup]="formulario" *ngIf="formulario">
      <label for="tarefa">Tarefa</label>
      <input
        type="textarea"
        class="input"
        id="tarefa"
        formControlName="titulo"
        placeholder="Digite título da tarefa"
        ngModel
        required
        >

      <div *ngIf="(formulario.get('titulo')?.invalid && formulario.get('titulo')?.touched) || formulario.get('titulo')?.dirty">
         <app-mensagem *ngIf="formulario.get('titulo')?.errors?.['required']"
          mensagem="O campo título é obrigatório."></app-mensagem>
      </div>

      <div class="acoes">
        <button
          class="botao"
          [disabled]="!formulario.valid"
          [ngClass]="habilitarBotao()"
          (click)="criarTarefa()">Salvar</button>
        <button  class="botao" routerLink="/listarTarefa">Cancelar</button>
      </div>
    </form>
  </header>
</section>
